/*===========================
     About CSS 
===========================*/
.about-area {
  background-color: #fffaf6
}

@media (max-width: 767px) {
    .about-area {
        padding-top: 75px;
        padding-bottom: 80px; 
    } 
}

.about-left {
    position: relative; 
}
.about-left .about img {
    width: 100%; 
}

.single-about {
    border: 1px solid #ddd;
    padding: 25px 15px;
    background: #fff; 
    height: 16rem;
}

.single-about .about-icon i {
    font-size: 50px;
    color: var(--color-primary-light); 
}
  .single-about .about-content .title {
    font-size: 20px;
    color: var(--color-primary-dark); 
}

.add-post a {
    display: flex;
    align-items: center;
    color: #000;

    svg {
        margin-right: 1rem;
    }
}

#add-post form{
    width: 80vw;
    padding: 4rem;
}

#add-post .popup__content{
    width: max-content;
    height: max-content;
}

.about-header{
    background-color: var(--color-primary-dark); 
}

.aboutus-section {
    padding: 90px 0;
    background-color: white;
}
.aboutus-title {
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    text-decoration: dashed ;
    text-decoration-color: var(--color-primary-dark);
    text-transform: uppercase;
    color: var(--color-primary-dark);
}

.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover, a:active {
    color: var(--color-primary);
    text-decoration: none;
    outline: 0;
}
.aboutus-more {
    border: 1px solid var(--color-primary-dark);
    border-radius: 25px;
    color: var(--color-primary-dark);
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    text-align: center;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    padding:0px;
    font-size:10px;
    border: 1px solid var(--color-primary-dark);
    border-radius: 1.2rem;
    color: var(--color-primary-dark);
    font-size: 28px;
    height: 2.4rem;
    line-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
}
