/*===========================
     VARIABLES 
===========================*/

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");


/*===========================
     MIXIN 
===========================*/

@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media screen and (max-width:600px) {
            @content;
        }
    }

    @if $breakpoint == tab-port {
        @media screen and (max-width: 900px) {
            @content;
        }
    }

    @if $breakpoint == tab-land {
        @media screen and (max-width: 1200px) {
            @content;
        }
    }

    @if $breakpoint == desktop {
        @media screen and (min-width: 1800px) {
            @content;
        }
    }
}