/*===========================
    HEADER 
===========================*/
.header-area {
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9; 
}

.header-area .navbar {
    padding: 0; 
}
.header-area .navbar .navbar-brand {
      padding: 1.2rem; 
      margin-bottom: 0;
}

.header-area .navbar .navbar-brand img {
    width: 2.5rem;
    height: 2.5rem;
}
    
.header-area .navbar .navbar-toggler .bar-icon {
    width: 30px;
    height: 2px;
    margin: 5px 0;
    background-color: #333;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s; 
}

.header-area .navbar .navbar-toggler.active .bar-icon:nth-child(1) {
    top: 7px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); 
}
    
.header-area .navbar .navbar-toggler.active .bar-icon:nth-child(2) {
    opacity: 0;
}
    
.header-area .navbar .navbar-toggler.active .bar-icon:nth-child(3) {
    top: -7px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); 
}

.navbar-expand-lg .navbar-collapse {
    padding: 1.2rem;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .navbar .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 999;
        padding: 10px; 
    } 
}

@media (max-width: 767px) {
    .header-area .navbar .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 999;
        padding: 10px; 
    } 
}
    
.header-area .navbar .navbar-nav .nav-item {
    margin-left: 30px; 
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .navbar .navbar-nav .nav-item {
          margin: 5px 0; 
    } 
}

@media (max-width: 767px) {
    .header-area .navbar .navbar-nav .nav-item {
        margin: 5px 0; 
    } 
}

.header-area .navbar .navbar-nav .nav-item a {
    font-size: 13px;
    font-weight: bold;
    color: #777;
}
      
.header-area .navbar .navbar-nav .nav-item.active a, .header-area .navbar .navbar-nav .nav-item:hover a {
    color: var(--color-primary); 
    text-decoration: none;
}
